/* General Style */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

.main-body {
  height: 100vh;
  /* width: 100%; */
  background: linear-gradient(to bottom, #c39738, #deb761, #c39738);
  /* background-color: greenyellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  /* height: 300px; */
  width: 350px;
  border: 5px solid rgb(193, 190, 190);
  /* background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc); */
  position: relative;
  perspective: 1000px;
  display: flex;
}
.signup-forms {
  width: 100%;
  padding: 20px;
  /* border: 2px solid black; */
  background-color: rgb(169, 197, 178);
}
.signup-button {
  background-color: #0d6dfd8b;
}
.signup-button:hover {
  background-color: #0d6dfd;
}
/* .signup-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.door {
  /* background-color: #61412d; */
  background: linear-gradient(to bottom, #d5d7e5, #eee, #d5d7e5);
  height: 100%;
  width: 50%;
  position: absolute;
  /* inner layout */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#left-door {
  top: 0;
  left: 0;
  border-right: 1px solid rgb(135, 130, 130);
  /* border-radius: 10px; */
  /* transition */
  transform-origin: left;
  transition: transform 0.5s;
}

#right-door {
  top: 0;
  right: 0;
  border-left: 1px solid rgb(135, 130, 130);
  transform-origin: right;
  transition: transform 0.5s;
}
.shape1 {
  color: white;
  background-color: #0d6dfd8b;
  box-shadow: inset 5px 5px 30px 5px black;
  font-size: 25px;
  padding: 5px;
  border-radius: 15px;
  opacity: 80%;
}
.shape {
  /* border: 4px solid black; */
  /* width: 100px; */
  /* height: 130px; */
}

.knob {
  width: 20px;
  height: 20px;
  background-color: #0d6dfd8b;
  box-shadow: inset 1px 1px 2px 1px black;
  border-radius: 50%;
  position: absolute;
}

#left-knob {
  top: 50%;
  right: 10px;
}

#right-knob {
  top: 50%;
  left: 10px;
}

/* Door swing effect */
.wrapper:hover #left-door {
  transform: rotateY(-140deg);
}

.wrapper:hover #right-door {
  transform: rotateY(140deg);
}
